body {
  background-color: black;
  top:0px;
  bottom:0px;
  height:100%;
  width:100vw;
  max-width: 100vw;
  overflow: hidden;
}
.container {
  font-family:sans-serif;
  overflow:hidden;
  width:400%;
  border:solid white;
  white-space:nowrap;
  position:relative;
  left:-150%;
}
.left {
  width:50%;
  max-width:50%;
  display:inline-block;
  text-align:right;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.right {
  width:50%;
  max-width:50%;
  display:inline-block;
  text-align:left;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.other {
  color: #2F4F4F;
  display:inline-block;
}
.first-half {
  display:inline-block;
  margin:0px;
  padding:0px;
  text-align:right;
  color: lightgrey;
}
.center {
  color:red;
  font-weight:bold;
  display:inline-block;
  margin:0px;
  padding:0px;
  text-align:center;
}
.last-half {
  display:inline-block;
  margin:0px;
  padding:0px;
  text-align:left;
  color: lightgrey;
}
.previous-word {

}
.next-word {

}
.bulk-words {
  
}
